* {
    margin: 0;
    box-sizing: border-box;
}

main {
    padding-bottom: 50px;
}

footer {
    position: fixed;
    background-color: #f8f9fa!important;
    height: 50px;
    bottom: 0;
    width: 100%;
    box-shadow : 0 2px 10px -0.5px #aaaaaa !important;
    text-align: center;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 700;
}

.sliders {
    display: none;
}

.container-sliders {
    padding: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slidecontainer {
    width: 85px;
    height: 85px;
    transform: rotate(-90deg);
}

.box-slider {
    display: inline-block;
    text-align: center;
}

.box-slider div {
    font-family: 'Cabin';
    font-weight: lighter;
    font-margin: 0 auto;

}


.slider {
    -webkit-appearance: none;
    margin-top: 50%;
    width: 100%;
    height: 2px;
    border-radius: 15px;
    background: linear-gradient(to right, #017afd 50%, #d3d3d3 50%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #017afd;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
}

.slider2::-webkit-slider-thumb {
    background: grey;
}

.navbar {
    box-shadow: 0 2px 10px -0.5px #aaaaaa;
    -webkit-transition: box-shadow 0.5s ease-in-out;
    -moz-transition: box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
}

.sliders {
    margin-top: 61px;
    box-shadow: 0 2px 10px -0.5px #aaaaaa;
}

.logout i {
    color: black;
    opacity: 0.6;
}

.logout i:hover {
    opacity: 0.9;
}

.fb {
    opacity: 0.85;
}

.fb:hover {
    color: white;
    opacity: 1;
}

.login {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;
}

.login div {
    display: flex;
    align-items: center;
}

.logout {
    width: 3%;
}

.logout i {
    vertical-align: middle;
}

.dropdown, .similarity{
    height: 40px;
    width: 13%;
}

.dropdown .btn, .similarity .btn {
    width: 90%;
}

.load {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.load div {
    display: inline-block;
}

/* ---- grid ---- */
.grid {
    padding-top: 5%;
    margin-left: 3%;
    max-width: 98%;
    position: absolute;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.title {
    color: #111111;
    font-family: 'Lato';
    font-size: 19px;
    font-weight: 700;
}

.description {
    padding-top: 6px;
    color: #5e5e5e;
    font-family: 'Cabin';
    font-size: 14px;
    font-weight: 300;
}

.user {
    position: absolute;
    color: rgba(255, 255, 255, .8);
    bottom: 15px;
    left: 15px;
    font-weight: 400;
    font-size: 12px;
}

.user div {
    font-family: 'Cabin';
    display: inline-block;
    margin-left: 0px;
    vertical-align: middle;
    color: rgba(255, 255, 255, .8);
}

.text {
    max-height: 72%;
    overflow: hidden;
}

.text:after {
    content: "";
    position: absolute;
    top: 160px;
    left: 0;
    height: 40px;
    width: 100%;
    background: -webkit-linear-gradient(#000, #fff);
    background: linear-gradient(rgba(0, 0, 0, 0), #fff);
}

.fb {
    background-color: #3B5998;
    color: white;
    height: 41.5px;
    margin-right: 33px;
}

.text-height:after {
    content: "";
    position: absolute;
    top: 160px;
    left: 0;
    height: 52px;
    width: 100%;
    background: -webkit-linear-gradient(#000, #fff);
    background: linear-gradient(rgba(0, 0, 0, 0), #fff);
}

.text-status {
    font-family: 'Cabin';
    font-style: italic;
    color: aliceblue;
    font-size: 15px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;

}


.data {
    font-weight: 400;
    font-size: 9px;
    display: inline-block;
    margin-left: 5px;
}

.pic_data {
    width: 11px;
    height: 11px;
}

.profpic {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.nav-profpic {
    width: 32px;
    height: 32px;
}


.tags a {
    text-decoration: none;
    height: 23px;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}

.message {
    font-family: 'Cabin';
    font-weight: 400;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    display: inline-block;
    height: auto;
    line-height: 10px;
    padding: 7px 11px 6px;
    vertical-align: top;
    font-size: 10px;
    max-width: 82%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    margin-right: 5px;
    pointer-events: auto;
}

.tag {
    font-family: 'Cabin';
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: auto;
    line-height: 10px;
    padding: 7px 11px 6px;
    vertical-align: top;
    font-size: 10px;
    background: green;
    border-radius: 20px;
    margin-right: 5px;
}

.tag:hover {
    transition: .4s;
    color: blue;
}

.icon {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    background-color: aliceblue;
    text-align: center;
    vertical-align: middle;
}

.icon i {
    font-size: 15px;
}

.profpic img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


/* ---- grid-item ---- */

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    float: left;

}

.grid-item--width {
    width: 560px;
}

.grid-item--height {
    height: 560px;
}

.zoom {
    transition: .2s;
}

.zoom:hover {
    transform: scale(1.03);
}

.in {
    padding: 10px;
    box-shadow: 0 2px 10px -0.5px #aaaaaa, inset 0 -110px 75px -85px rgba(0, 0, 0, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 240px;
    height: 240px;
}

.in:hover {
    text-decoration: none;
}

.in--width {
    width: 520px;
}

.in--height {
    height: 520px;
}

.title:hover {
    -webkit-transition: .5s;
    /* Safari */
    transition: .5s;
    color: #3a7999;
}

.title_white {
    color: rgba(255, 255, 255, .9);
}
